﻿
<style>
    .widgit {
        border-color: red;
        background: lightgreen;
        height: 150px;
        width: 240px;
        text-align: center;
        vertical-align: central;
    }
</style>
<div class="widgit" >
    <h4>
        This is tini widgit
    </h4>
<table>
    @{ foreach (var car in Model)
       {
        <tr>
            <td>@car.Name</td>
            <td>@car.Color</td>
            <td>@car.Company</td>
            <td>@car.Price</td>
        </tr>
       } }
</table>
</div>
