﻿@{
    ViewBag.Title = "Home Page";
}
@model List<VirtualPathExample.Controllers.Car>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<table>
    @{ foreach (var car in Model)
       {
        <tr>
            <td>@car.Name</td>
            <td>@car.Color</td>
            <td>@car.Company</td>
            <td>@car.Price</td>
        </tr>
       } }
</table>
@Html.Partial("_Widgit",(object)this.Model)



<h1>Hellow
</h1>
